.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
build/
dist/
*.egg-info/
.env

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/lab/*
!data/lab/.gitkeep
data/reference/*
!data/reference/.gitkeep
data/pdf_card/*
!data/pdf_card/plot_standards/
data/pdf_card/plot_standards/*
!data/pdf_card/plot_standards/.gitkeep

results/*
!results/.gitkeep
outputs/*
!outputs/.gitkeep

*.log
